#nav-bar a{
    color: #467092;
    font-size: 20px;
}
#nav-bar, footer{
    background-color: black;
}
.fa{
    padding: 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 30px;
    margin: 5px,2px;
    border-radius: 50%;
    background: black;
    color: white;
}

.fa:hover{
    opacity: 0.8;
    color: white;
}

.welcome{
    color: #C03A46;
  }
  .homebtn{
    border: 0;
    font-size: 16px;
    line-height: 1;
    padding: 16px 30px;
    border-radius: 30px;
    background:#467092;
    color: white;
    cursor: pointer;
  
  }