#nav-bar a{
    color: #467092;
    font-size: 20px;
}
#nav-bar, footer{
    background-color: black;
}
.fa{
    padding: 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 30px;
    margin: 5px,2px;
    border-radius: 50%;
    background: black;
    color: white;
}
