
.intro img{
  margin-top:20px;
  margin-left: 400px;
}
.text{
  margin-top: 200px;
  margin-left: 100px;
  float: left;

}
.text h2{
  color: #800000;
}
#nav-bar a{
    color: #467092;
    font-size: 20px;
}
#nav-bar, footer{
    background-color: black;
}
.fa{
    padding: 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 30px;
    margin: 5px,2px;
    border-radius: 50%;
    background: black;
    color: white;
}
.fa:hover{
    opacity: 0.8;
    color: white;
}
