body{
    height: 100%;
}

.container{
    margin-top: 100px;
}
.courses{
    background-color: #E8F0F9;
    font-size: 36px;
}

.courses a{
    color: black;
}

.courses a:hover{
    color: #467092;
}
.info{
    line-height: 50px;
}
.fa{
    padding: 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 30px;
    margin: 5px,2px;
    border-radius: 50%;
    background: black;
    color: white;
}

.fa:hover{
    opacity: 0.8;
    color: white;
}