body{
    height: 100%;
}

.container{
    margin-top: 100px;
}
.courses{
    background-color: #E8F0F9;
    font-size: 36px;
}

.courses a{
    color: black;
}

.courses a:hover{
    color: #467092;
}
.info{
    line-height: 50px;
}